.intro-page{
    background-image: url("../assets/img/ScarySona.jpg");
    background-size: cover;
    .butn{
        position:absolute;
        top: 425px;
        left:110px;
    }
    ion-item{
        opacity: .7;
        top: 325px;
    }
}