.nemesis{
    background-image: url("/zed.jpg");
    background-size: cover;

    .left1{
        position:absolute;
        border-radius: 50%;
        top: 30px;
        left:10px;
        width: 80px;
        height: 80px;
        z-index: 3;

    }

    .left2{
        position:absolute;
        border-radius: 50%;
        top: 88px;
        left: 0px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }
    
    .left3{
        position:absolute;
        border-radius: 50%;
        top: 146px;
        left: 10px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }

    .left4{
        position:absolute;
        border-radius: 50%;
        top: 204px;
        left: 0px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }

    .mid{
        position:absolute;
        border-radius: 50%;
        top: 100px;
        width: 150px;
        height: 150px;
        left: 52px;

    }

    .right1{
        position:absolute;
        border-radius: 50%;
        top: 0px;
        right: 10px;
        width: 80px;
        height: 80px;
        z-index: 3;

    }

    .right2{
        position:absolute;
        border-radius: 50%;
        top: 58px;
        right: 0px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }
    
    .right3{
        position:absolute;
        border-radius: 50%;
        top: 116px;
        right: 10px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }

    .right4{
        position:absolute;
        border-radius: 50%;
        top: 174px;
        right: 0px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }

    .right5{
        position:absolute;
        border-radius: 50%;
        top: 232px;
        right: 10px;
        width: 80px;
        height: 80px;
        z-index: 4;
    }


    }
        


